In [1]:
import pandas as pd

In [2]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz'

In [3]:
df = pd.read_csv(url, sep=',', compression='gzip')

/tmp/ipykernel_12774/54597289.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep=',', compression='gzip')

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [5]:
# DEFINE A DICTIONARY OF DATA TYPES FOR THE NON DATETIME COLUMNS 
taxi_dtypes = {
    'VendorID':pd.Int64Dtype(),
    'passenger_count':pd.Int64Dtype(),
    'trip_distance':float,
    'RatecodeID':float,
    'store_and_fwd_flag':str,
    'PULocationID':pd.Int64Dtype(),
    'DOLocationID':pd.Int64Dtype(),
    'payment_type':pd.Int64Dtype(),
    'fare_amount':float,
    'extra':float,
    'mta_tax':float,
    'tip_amount':float,
    'tolls_amount':float,
    'improvement_surcharge':float,
    'total_amount':float,
    'congestion_surcharge':float
}

# CREATE A LIST OF DATETIME COLUMNS.
# The list will be passed to the read_csv function and pandas will parse the columns as dates with the appropriate time stamps.  
date_columns = ['lpep_pickup_datetime', 'lpep_dropoff_datetime'] 

# DONWLOAD ALL CSV FILES AND COMBINE THEM INTO A SINGLE DATAFRAME
combined_df = pd.DataFrame()
for month in range(10, 13):
    sourceUrl = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{month}.csv.gz'
    currentDf = pd.read_csv(sourceUrl, sep=',', compression='gzip', dtype=taxi_dtypes, parse_dates=date_columns)
    #, parse_dates=parse_dates
    combined_df = pd.concat([combined_df, currentDf])

# show dataframe
combined_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83125,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
83126,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
83127,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
83128,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
83129,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [6]:
combined_df.dtypes

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
dtype: object

### filter out rows with passenger_count = 0 and trip_distance = 0

In [7]:
len(combined_df[combined_df['passenger_count'] > 0])

146732

In [8]:
combined_df = combined_df[(combined_df['trip_distance'] > 0) & (combined_df['trip_distance'] > 0)]
combined_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83125,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
83126,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
83127,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
83128,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
83129,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [9]:
pickup_date_series = combined_df['lpep_pickup_datetime'].dt.date

In [10]:
type(pickup_date_series)

pandas.core.series.Series

In [11]:
combined_df = combined_df.assign(lpep_pickup_date=pickup_date_series)

In [12]:
combined_df.dtypes

VendorID                          Int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
lpep_pickup_date                 object
dtype: object

In [13]:
combined_df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'lpep_pickup_date'],
      dtype='object')

In [14]:
combined_df.columns = combined_df.columns.str.replace(' ', '_').str.lower()

In [15]:
combined_df.columns

Index(['vendorid', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecodeid', 'pulocationid', 'dolocationid',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'lpep_pickup_date'],
      dtype='object')

In [16]:
combined_df['lpep_pickup_date']

0        2020-10-01
1        2020-10-01
2        2020-10-01
3        2020-10-01
4        2020-10-01
            ...
83125    2020-12-31
83126    2020-12-31
83127    2020-12-31
83128    2020-12-31
83129    2020-12-31
Name: lpep_pickup_date, Length: 257993, dtype: object

In [17]:
'vendorid' in combined_df.columns

True

In [18]:
del combined_df['lpep_pickup_date']

In [19]:
combined_df['lpep_pickup_date'] = combined_df['lpep_pickup_datetime'].dt.date

In [22]:
combined_df['vendorid'].unique()

<IntegerArray>
[2, 1, <NA>]
Length: 3, dtype: Int64